button.panel-edicao:hover {
    transform: scale(1.05);
}

.clip-path {
    clip-path: circle(45%);
}

.profile-picture:hover {
    opacity: 0.8;
}

.newimg {
    transition: opacity ease-in-out 300ms 
}
