section#clube-info-overview {
    height: fit-content;
}

.card{
    padding: 20px;
    align-items: center;
}

.foto-perfil-clube {
    border-radius: 200px;
    width: 200px;
}

.can-edit:not(img) {
    padding: 0.25rem;
}

section#historico-de-leitura ol a:hover {
    text-shadow: 0 0 0.1px;
    transition-timing-function: ease;
}

div#enquetes-passadas {
    max-height: 350px;
}

section#lista-de-membros {
    max-height: 300px;
}

section#destaques-leitura,
div#enquetes-passadas,
section#lista-de-membros {
    box-shadow: 0 0 1px #4E4E4E;
}


section#lista-de-membros,
div#enquetes-passadas ul {
    overflow-y: scroll;
    vertical-align: baseline;
    line-height: 1.5;
}

section#lista-de-membros::-webkit-scrollbar,
div#enquetes-passadas ul::-webkit-scrollbar {
    width: 8px;
}

section#lista-de-membros::-webkit-scrollbar-track,
div#enquetes-passadas ul::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

section#lista-de-membros::-webkit-scrollbar-thumb,
div#enquetes-passadas ul::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 10px;
}

section#lista-de-membros ol,
div#enquetes-passadas ul {
    list-style: circle;
}

section#leitura-do-mes button {
    border-radius: 0;
}

div#corpo-modal-clube,
div#modal-conteudo-enquete {
    height: 700px;
}

section#botoes-criacao button {
    border-radius: 0;
}

form#enquete-form input {
    height: 1.8rem;
}

form#enquete-form div>button {
    height: 1.8rem;
}

.excluir,
#pin-opcao {
    width: 1.3rem;
}

.excluir:hover {
    background-color: #cb1f1f;
}

button#pin-opcao:hover {
    background-color: initial;
    cursor: not-allowed;
}


form div#opcoes-enquete button {
    width: 1.3rem;
}

form#enquete-form textarea {
    resize: none;
}