:root {
    --azul-claro: #B1F1FF;
    --cinza-escuro: #4E4E4E;
    --cinza: #BDBDBD;
    --lilas: #675fff;
    --cinza-claro: #E6E6E6;
    --tamanho-texto-padrao: 16px
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.bg-gray-200 {
    background-color: var(--bs-gray-200);
}

.btn.btn-branco {
    background-color: #fff;
    font-weight: bold;
    color: var(--lilas);
    border: 2px solid var(--lilas);
}

.btn.btn-branco:hover {
    box-shadow: 0 0 4px #3f36f6;
}

.naked-btn {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
}

.naked-btn.small-text {
    font-size: 0.75rem;
}

#btn-lilas {
    align-self: center;
}

#btn-lilas,
.btn.btn-lilas {
    background-color: var(--lilas);
    font-weight: bolder;
    color: #fff;
    border: 2px solid var(--lilas);
}

#btn-lilas:hover,
.btn.btn-lilas:hover {
    background-color: #fff;
    color: var(--lilas);
}


i.representante-edicao:not(.editavel) {
    display: none;
}

i.representante-edicao.editavel {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 10%;
    transition: transform ease-in-out 0.3s;
}

i.representante-edicao.editavel:hover {
    transform: scale(1.6);
}

.can-edit {
    position: relative;
}

.can-edit.editavel:not(img):not(label):not(i):after {
    content: "";
    width: 0%;
    height: 1px;
    display: block;
    border: none;
    position: absolute;
    bottom: 0;
}

.can-edit.editavel:not(img):not(label):not(i):after {
    animation: bottom-bar-move 2.5s both;
}

@keyframes bottom-bar-move {
    0%, 100% {
        border-bottom: 2px solid blue;
        left: 0;
    }

    50% {
        width: 20%;
        border-bottom: 2px solid blue;
        left: 80%;
    }

}

/*<Icons>*/
i.circle-icon,
i.circle-fill-icon {
    width: 1em;
}

i.save-icon {
    width: 1.35em;
}

i.cancel-icon,
i.gear-icon,
i.gear-icon-active {
    width: 1.5em;
}

i.circle-icon {
    content: url('/midia/circle.svg');
}

i.save-icon {
    content: url('/midia/save.svg');
}

i.cancel-icon {
    content: url('/midia/cancel.svg');
}

i.gear-icon,
i.gear-icon-active {
    content: url('/midia/gear.svg');
}

button:has(> i.gear-icon-active) {
    cursor: not-allowed;
}

i.gear-icon:hover {
    background-color: gainsboro;
    border-radius: 40%;
}

.trash-can-icon-toggle {
    background: no-repeat url('/midia/trash-can-white.svg') center center;
}

/*</Icons>*/


nav {
    box-shadow: 0 0 5px var(--cinza-escuro);
}

nav img#logo {
    height: 40px;
}

.drop-container {
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px dashed #555;
    color: #444;
    margin-right: 15px;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover {
    background: #eee;
    border-color: #111;
}

.drop-container:hover .drop-title {
    color: #222;
}

.drop-title {
    color: #444;
    font-size: var(--tamanho-texto-padrao);
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
}