.bi-list {
    font-weight: bolder;
    font-size: 16;
}

.card {
    padding: 20px;
    align-items: center;
}

.foto-perfil {
    border-radius: 200px;
    width: 200px;
}

.container-clubes {
    padding: 1px;

}

.card {
    border: 1px solid var(--cinza);
    border-bottom: 4px solid var(--cinza);
    border-right: 2px solid var(--cinza);
    margin: 10px;
}

figure#card-img-clipped {
    margin: 0;
    height: 150px;
    overflow: hidden;
}

.linha-bottom {
    border-bottom: 2px solid var(--cinza);
    margin: 4px 20px;
}

.agenda {
    width: 100%;
}

figure#foto-perfil {
    width: 80%;
}

figure#foto-perfil {
    display: flex;
    justify-content: center;
    align-items: center;
}

figure#foto-perfil>img {
    clip-path: circle(50% at center);
}

.list-group-item {
    text-align: left;
}

.btn-outline-primary {
    border: 1px solid var(--lilas);
    margin: auto;
}

.btn-outline-primary:hover {
    background-color: var(--lilas);
}

#btn-clube {
    width: 100%;
}

.header-clubes-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
}